.explorer {
    margin-left: -15px;
    background-color: #f7f7f7;
    height: 100%;
}

.content-list {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.hidden {
    display: none;
}

.fs-item {
    padding: 0.2em 1em 0.2em 1em;
    margin-top: 0.2em;
    cursor: pointer;
}

.selected {
    background-color: silver;
}

.fs-item:hover {
    background-color: gray;
}