<div class="explorer">
    <!--<div class="toolbar btn-toolbar" role="toolbar">-->
    <div class="toolbar d-flex justify-content-end">
        <button type="button" title="New Folder" class="btn btn-sm btn-secondary mr-1 fa fa-folder-o"></button>
        <button type="button" title="New File" class="btn btn-sm btn-secondary fa fa-file-o"></button>
    </div>
    <!--</div>-->
    <div class="content-list">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of folderContent">
                <a class="nav-link" [routerLink]="item.path" [queryParams]="item.query">
                        <span class="fa" [ngClass]="{'fa-file': item.query, 'fa-folder fa-lg': !item.query}"></span> {{item.title}}</a>
            </li>
        </ul>
    </div>
</div>