<div class="explorer-container">
    <div class="breadcrumbs-pannel">
        <explorer-breadcrumbs [pathItems]="breadcrumbs"></explorer-breadcrumbs>
    </div>
    <div class="d-flex flex-row fixed w-100" style="height:calc(100% - 112px);">
        <div #navigationBar class="folder-content">
            <file-explorer [items]="folderContent" (itemActivate)="onActivateFsEntry($event)"></file-explorer>
        </div>
        <div splitHandle [left]="navigationBar" [right]="editorArea" [minWidth]="200" class="handle-bar"></div>
        <div #editorArea class="editor-area">
            <file-editor [content]="fileContent"></file-editor>
        </div>
    </div>
</div>