.explorer-container {
    margin-top: -15px;
}

.fixed {
    position: fixed;
}
.folder-content {
    min-width: 200px;
    width: 250px;
    height: 100%;
}

.editor-area {
    /*margin-left: 250px;*/
    /*padding: 15px;*/
    width: calc(100% - 250px);
}

.handle-bar {
    background-color:black; 
    cursor:e-resize; 
    height:100%; 
    width:2px;
    z-index: 10;
}

.breadcrumbs-pannel {
    margin: 0 -15px 0 -15px;
}