<nav class="navbar navbar-light fixed-top navbar-toggleable-md bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
    <h1 class="navbar-brand mb0">Collaborative Editor</h1>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']" *ngFor="let link of links">
                <a class="nav-link" [routerLink]="[link.path]">
                        <span class='glyphicon {{link.class}}'></span> {{link.title}}
                    </a>
            </li>
            <!-- Scaffolding Links-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['explorer','home']">
                        <span class='glyphicon glyphicon-folder-open'></span> Server Explorer
                    </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign-up</a>
            </li>
        </ul>
    </div>
</nav>